
<div class="card mb-5 mb-lg-0 list">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{name}}</h5>
      <h6 class="card-price text-center">${{price}}<span class="period">/month</span></h6>
      <hr>
      <ul *ngFor="let feature of features" class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{feature.title}}</li>
      </ul>
      <ul *ngFor="let feature_muted of features_muted" class="fa-ul">
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{feature_muted.title}}</li>
      </ul>
      <div class="d-grid">
        <a href="#" class="btn btn-primary text-uppercase">Button</a>
      </div>
    </div>
  </div>
